#mod{
    background-color: #0f6674;
    border-color: #0f6674;
}
.mod{
    background-color: #0f6674;
    border-color: #0f6674;
}
.mod:hover{
    background-color: #0f6674;
    border-color: #0f6674;
}
.mod:focus{
    background-color: #0f6674;
    border-color: #0f6674;
}