.main{
    background-color: cornflowerblue;
}
.div{
    border-color: currentColor;
    border-width: 3px;
    min-width: 500px;;
}
.select1{
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.select-btn{
    background-color: cyan;
}